$font-family: 'Roboto', sans-serif;
$border: var(--border-width) solid black;

@mixin border-collapse {
  margin-left: calc(-1 * var(--border-width));
  margin-top: calc(-1 * var(--border-width));
  border: $border;
}

%mask-svg {
  --mask-url: none;
  --mask-repeat: no-repeat;
  --mask-size: contain;
  --mask-position-x: center;
  --mask-position-y: center;
  --mask-position: var(--mask-position-x) var(--mask-position-y);

  -webkit-mask-image: var(--mask-url);
  mask-image: var(--mask-url);
  -webkit-mask-repeat: var(--mask-repeat);
  mask-repeat: var(--mask-repeat);
  -webkit-mask-size: var(--mask-size);
  mask-size: var(--mask-size);
  -webkit-mask-position: var(--mask-position);
  mask-position: var(--mask-position);
}

%border-collapse {
  @include border-collapse;
}

:root {
  --color-background: white;
  --color-primary: #CFFD3C;
  --color-secondary: #FB4B4D;
  --color-accent: #8B83F6;

  --text-color: black;
  --border-width: 1px;
  --default-transition: .5s ease;


  --body-padding-y: 10px;
  --body-padding-x: 20px;

  --header-padding-y: 2.1rem;
  --header-logo-height: 4.0rem;
  --header-link-padding-y: 1.5rem;
  --header-link-font-size: 1.4rem;
  // --header-link-line-height: 1.54 * var(--header-link-font-size);
  --header-link-line-height: 1.54;

  --header-content-height: calc(2 * var(--header-link-padding-y) + var(--header-link-font-size));
  --header-reserved-height: calc(2 * var(--header-padding-y) + 2 * var(--border-width) + var(--header-content-height));

  --header-menu-duration: .5s;
  --throttle-ms: 300ms;

  //get form js / origin value
  --x: 50vw;
  --y: 3900px;
}

@include breakpoint-down(lg) {
  :root {
    --header-content-height: var(--header-logo-height);
    --header-link-font-size: 1.8rem;
  }
}